/* GLOBAL STYLES */
/* Normalizer */
@import "node_modules/modern-normalize/modern-normalize.css";
* {
  margin: 0;
}

/* Variables */
:root {
  /* Brand colors */
  --brand-blue: #2196f3;
  --brand-gray: #2f303a;

  /* Font colors */
  --text-default: #212121;
  --text-secondary: #757575;
  --text-white: #fff;

  /* Background colors */
  --background-white: #fff;
  --background-primary: #e5e5e5;
  --background-secondary: #f5f4fa;
}

/* Body defaults */
body {
  color: var(--text-default);
  font-family: "Roboto", sans-serif, serif;
}

/* Reusables */
.font__size--14 {
  font-size: 14px;
}
.font__size--16 {
  font-size: 16px;
}
.font__size--18 {
  font-size: 18px;
}
.font__size--32 {
  font-size: 32px;
}

.font__weight--500 {
  font-weight: 500;
}
.font__weight--700 {
  font-weight: 700;
}
.font__weight--900 {
  font-weight: 900;
}

.font__color--default {
  color: var(--text-default);
}
.font__color--secondary {
  color: var(--text-secondary);
}
.font__color--white {
  color: var(--text-white);
}

/* Logo */
.logo {
  font-size: 26px;
  line-height: 1.9;
  font-family: "Raleway", sans-serif, serif;
}
.logo--light {
  color: var(--text-white);
}
.logo--blue {
  color: var(--brand-blue);
}

/* Header */
.header {
  background-color: var(--background-white);
}
.header__navigation__element,
.header__navigation__element:active,
.header__navigation__element:visited {
  cursor: pointer;
  color: var(--text-default);
  line-height: 1;
  text-decoration: none;
}

.header__navigation__element:hover,
.header__navigation__element:focus,
.contacts:hover,
.contacts:focus {
  color: var(--brand-blue);
}

/* Footer */
.footer {
  background-color: var(--brand-gray);
}

/* Contacts */
.contacts {
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}
.contacts__address {
  color: var(--text-white);
  font-style: normal;
  line-height: 1;
}

/* INDEX.HTML */
/* Hero Section */
.main__hero-section {
  background-color: var(--brand-gray);
  color: var(--text-white);
}

.main__hero-section__heading {
  font-size: 44px;
  line-height: 3.75;
}
.main__hero-section__button,
.main__hero-section__button:active {
  cursor: pointer;
  background-color: var(--brand-blue);
  color: var(--text-white);
  line-height: 1.9;
}
.main__hero-section__button:hover,
.main__hero-section__button:focus {
  background-color: #2195f3ee;
}

/* Why us */
.main__why-us {
  background-color: var(--background-white);
}
.main__why-us__heading {
  line-height: 1;
}
.main__why-us__paragraph {
  line-height: 1.5;
}

/* What we do */
.main__what-we-do {
  background-color: var(--background-white);
}
.main__what-we-do__heading {
  line-height: 2.25;
}

/* Our team */
.main__our-team {
  background-color: var(--background-secondary);
}
.main__our-team__heading {
  line-height: 2.25;
}
.main__our-team__caption {
  line-height: 2.25;
}

/* PORTFOLIO.HTML */
/* Filters */
.main__filters__button,
.main__filters__button:active {
  cursor: pointer;
  background-color: var(--background-secondary);
  line-height: 1.6;
}
.main__filters__button:hover,
.main__filters__button:focus {
  background-color: #2195f3;
  color: var(--text-white);
}

/* Listings */
.main__listings__heading {
  line-height: 2.25;
}
.main__listings__paragraph {
  line-height: 1.9;
}
