/* GLOBAL STYLES */
/* Normalizer */
@import "node_modules/modern-normalize/modern-normalize.css";
*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
address {
  margin: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Variables */
:root {
  /* Brand colors */
  --brand-blue: #2196f3;
  --brand-gray: #2f303a;

  /* Font colors */
  --text-default: #212121;
  --text-secondary: #757575;
  --text-white: #fff;
  --text-black: #000;

  /* Background colors */
  --background-white: #fff;
  --background-primary: #e5e5e5;
  --background-secondary: #f5f4fa;
}

/* Body defaults */
body {
  color: var(--text-default);
  font-family: "Roboto", sans-serif, serif;
}

/* Reusables */
.font__size--14 {
  font-size: 14px;
}
.font__size--16 {
  font-size: 16px;
}
.font__size--18 {
  font-size: 18px;
}
.font__size--32 {
  font-size: 32px;
}

.font__weight--500 {
  font-weight: 500;
}
.font__weight--700 {
  font-weight: 700;
}
.font__weight--900 {
  font-weight: 900;
}

.font__color--default {
  color: var(--text-default);
}
.font__color--secondary {
  color: var(--text-secondary);
}
.font__color--white {
  color: var(--text-white);
}

/* Logo */
.logo,
.logo:active,
.logo:visited {
  font-size: 26px;
  line-height: 1.9;
  font-family: "Raleway", sans-serif, serif;
  text-decoration: none;
  color: var(--text-black);
}
.logo--light,
.logo--light:active,
.logo--light:visited {
  color: var(--text-white);
}
.logo--blue,
.logo--blue:active,
.logo--blue:visited {
  color: var(--brand-blue);
}

/* Flex Containers */
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  min-width: 1200px;
  height: 100%;

  margin: 0;
}

.section {
  display: flex;
  max-width: 1600px;

  padding: 94px 0 94px 0;

  margin: 0;
}
.section--top {
  display: flex;
  max-width: 1600px;

  padding: 94px 0 0 0;

  margin: 0;
}

/* Header */
.header {
  max-width: 1600px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-white);

  padding: 24px 0 24px 0;

  border-bottom: 1px solid #ececec;
}

.header:first-child,
.header:last-child {
  margin: 0 215px 0 215px;
}

.header__navigation {
  list-style: none;

  display: flex;
}

.header__navigation__element a,
.header__navigation__element:active,
.header__navigation__element:visited {
  cursor: pointer;
  color: var(--text-default);
  line-height: 1;
  text-decoration: none;
}
.header__navigation__element:first-child a {
  margin-left: 94px; /* Adding 1px for consistency (93px vs 94px) */
}
.header__navigation__element:last-child a {
  margin-right: 385px;
}
.header__navigation__element:not(:last-child) {
  margin-right: 50px;
}

.header__navigation__element a:hover,
.header__navigation__element a:focus,
.contacts:hover,
.contacts:focus {
  color: var(--brand-blue);
}

/* Footer */
.footer {
  display: block;
  max-width: 1600px;
  background-color: var(--brand-gray);
}

.footer__wrapper {
  display: inline-block;

  margin: 60px 0 60px 215px;
}

.footer__wrapper .logo {
  padding-bottom: 28px;
}
/* why won't this work */
.footer__wrapper .contacts:first-child {
  margin-bottom: 10px;
}

/* Contacts */
.contacts {
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  margin-bottom: 28px;
}
.contacts:first-of-type {
  margin-right: 40px;
}
.contacts__address {
  color: var(--text-white);
  font-style: normal;
  line-height: 1;
}

/* INDEX.HTML */
.main {
  max-width: 1600px;
}
/* Hero Section */
.main__hero-section {
  max-width: 1600px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  background-color: var(--brand-gray);
  color: var(--text-white);
}

.main__hero-section__heading {
  font-size: 44px;
  line-height: 1.5;

  margin: 200px 0 30px 0;
}
.main__hero-section__button,
.main__hero-section__button:active {
  cursor: pointer;
  background-color: var(--brand-blue);
  color: var(--text-white);
  line-height: 1.9;

  padding: 10px 20px;

  border-radius: 4px;
  border: none;

  margin: 0 0 200px 0;
}
.main__hero-section__button:hover,
.main__hero-section__button:focus {
  background-color: #2195f3ee;
}

/* Why us */
.main__why-us {
  display: flex;
  justify-content: center;

  background-color: var(--background-white);
}
.main__why-us__element {
  max-width: 270px;
}
.main__why-us__element:not(:last-child) {
  margin-right: 30px;
}
.main__why-us__element__heading {
  line-height: 1;

  margin: 0 0 10px 0;
}
.main__why-us__element__paragraph {
  text-align: left;

  line-height: 1.5;
}

/* What we do */
.main__what-we-do {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: var(--background-white);
}
.main__what-we-do__heading {
  width: 100%; /* width so elements wrap under the heading */

  text-align: center;
  line-height: 2.25;

  margin-bottom: 50px;
}
.main__what-we-do__image:not(:last-child) {
  margin-right: 30px;
}

/* Our team */
.main__our-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: var(--background-secondary);
}
.main__our-team__heading {
  width: 100%; /* width so elements wrap under the heading */

  line-height: 2.25;

  margin-bottom: 50px;
}
.main__our-team__figure {
  background-color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main__our-team__figure:not(:last-child) {
  margin-right: 30px;
}
.main__our-team__caption {
  line-height: 2;
  margin: 30px 0;
}

/* PORTFOLIO.HTML */
/* Our Products */
.main__our-products {
  display: flex;
  flex-direction: column;
}
/* Filters */
.main__filters {
  margin-bottom: 50px;
}
.main__filters ul:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__filters__button,
.main__filters__button:active {
  cursor: pointer;
  background-color: var(--background-secondary);
  line-height: 1.6;

  background-color: var(--background-secondary);

  padding: 6px 22px;

  border: none;
  border-radius: 4px;
}
.main__filters ul li:not(:last-child) {
  margin-right: 8px;
}
.main__filters__button:hover,
.main__filters__button:focus {
  background-color: #2195f3;
  color: var(--text-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Listings */
.main__listings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: flex-start;
  column-gap: 30px;
  row-gap: 30px;
  background-color: var(--background-white);
}

.main__listings figure {
  max-width: 370px;
  flex-grow: 4;

  border: 1px solid #eee;
}

.main__listings figure figcaption {
  margin: 20px 24px;
}
.main__listings figure figcaption strong {
  margin-bottom: 4px;
}

.main__listings__heading {
  line-height: 2.25;
}

.main__listings__paragraph {
  line-height: 1.9;
}
